@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    
    padding: 0;
    margin: 0%;
    background-color: #0a0e16;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    /* justify-content: center;
    align-items: center;
    display: flex; */
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

#home{
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}

#⭐{
    color:#c0021a;
    
}
#⭐:hover{
    color: #535b64;
}

#intro{
    margin-top: 25vh;
}

#intro h1 {
    font-size: 50px;
}

#intro #disc{
    color: #c0c3c5;
    word-spacing: 4px;
    font-size: 18px;
}

.tt{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #c0021a;
    border-radius: 25px;
    margin: 10px;
    font-size: 12px;
    min-height: 30px;
}

#scrl-intro{
    margin-top: 80px;
    font-size: 10px;
    
}
#scrl-intro a{
    animation: flicker 1.5s infinite;
}
#scrl-intro img{
    width: 15px;
    margin-left: 17px;
    
}





@keyframes flicker {
    0% {margin-top: 0px; margin-bottom: 5px;}
    50% {margin-top: 5px;margin-bottom: 0px;}
    100% {margin-top: 0px;margin-bottom: 5px;}
}

#tt-discord{
    padding-right: 20px;
    padding-left: 15px;
    display: flex;
}

#about{
    background: #0a0e16 ;
}



.mybox{
    max-width: 285px;
    min-width: 260px;
    min-height: 345px;
    max-height: 350px;
    aspect-ratio:4/5;
    flex-shrink: 0;
    background-size:contain;
    /* max-height: ; */
    /* background-color: #141B2D; */
}

#about-title{
    background: linear-gradient(227.38deg, #E71D36 , #F46036 ,#E71D36 , #E71D36, #F46036 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Roboto', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.about-num-det{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    
}

#about-title-dic{

    font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 24px;
font-family: 'Quicksand', sans-serif;

}

.title-about-num{
    background: linear-gradient(227.38deg, #E71D36 , #F46036 ,#E71D36 , #E71D36, #F46036 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}

#intro-box-con{
    padding: 30px;
    padding-bottom: 70px;
    display: flex;
    gap: 90px;
    justify-content: center;
}

#intro-box-1{
    background-image: url('/img/tab1.svg');
}

#intro-box-1 h1{
    position: relative;
    left: 5px;
    top: 5px;
    
}
#intro-box-1 p{
    position: relative;
    top: 18px;
    
}
#intro-box-2{
    
    background-image: url('/img/tab2.svg')
}
#intro-box-2 h1{
    position: relative;
    
    
}
#intro-box-3{
    
    background-image: url('/img/tab3.svg')
}
#intro-box-3 h1{
    position: relative;
}
#intro-box-3 p{
    word-break: break-word;
    height:1rem;
    
}

#scr-up-img{background: white; border-radius: 100%; width: 40px;}
#scr-up{
width: 40px;
height: 40px;


}

#foot-1{
padding: 20px;
    
    background-color: #0a0e16;
    background-image: url("/img/foot-bg.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-position: center; */
    /* background-size: contain; */
}





/* respomsive */
@media only screen and (max-width: 768px) {


.mybox{
    display: inline-grid;
}
#intro-box-con{
    display: grid;
}

#nav{
    justify-content: center;
}
#intro h1 {
    font-size: 40px;
}
.tt{
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#intro{
    margin-top: 100px;
}
#scrl-intro{
    margin-top: 30px;
}

#tt-discord{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
}
  }


/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
    width: 7px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff5555a6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #50fa7b; 
  }

/* END OF SCHROLL BAR */